.pDetails-head {
  text-align: center;
  color: rgb(37, 204, 0);
  margin-top: 50px;
}

.main-container {
  max-width: 90%;
  /* height: 100%; */
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 0 auto;
  padding: 3px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(161, 52, 108, 0.319);
}

.driver_body {
  /* border: 1px solid; */
  height: 70vh;
  /* border: 1px solid black; */
  position: relative;
  /* overflow: hidden; */
}

.notification-container {
  position: relative;
  /* border: 3px solid black; */
  /* width: 100%;
  height: 100px; */
}

.driver_notification {
  display: flex;
  align-items: center;
  border: 3px solid #f5c0fd;
  background-color: #f7c1ff;
  border-radius: 4px;
  box-shadow: 0 0 20px 3px pink;
  justify-content: center;
  /* border: 3px solid black; */
  width: 90%;
  /* text-align: center; */
  margin: 0 auto;
}

.pass_details {
  display: flex;
  flex-direction: column;
}

.pass_details h1 {
  margin-top: 18px;
}

.pass_details > * {
  margin: 0;
  text-align: center;
}

.counter {
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
  left: 15px;
  top: -15px;
  padding: 12px;
  background-color: #6969ff;
  color: white;
  font-weight: bold;
}

.btn-prime {
  width: 75px;
  height: 35px;
  position: absolute;
}

.btn-one {
  right: 100px;
  top: -10px;
  border-radius: 4px;
  background-color: #6969ff;
  color: white;
  border: none;
}

.btn-two {
  right: 20px;
  top: -10px;
  border-radius: 4px;
  background-color: #ff8585;
  color: white;
  border: none;
}

.hidden {
  display: none;
}

.card {
  width: 95%;
  height: 85px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #a1d5c4c2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 2px;
}

.card-1-1 {
  width: 38%;
  height: 90%;
}

.card-1-2 {
  width: 38%;
  height: 90%;
}

.card-1-3 {
  width: 18%;
  height: 90%;
}

.card-1-1 .fullName {
  font-size: 15px;
  font-weight: bold;
}

.card-1-1 .noOfPass {
  font-size: 11px;
  font-weight: bold;
}

.card-1-2 .sourceToDes {
  font-size: 15px;
  font-weight: bold;
}

.card-1-2 .fare {
  font-size: 11px;
  font-weight: bold;
}

.btn-red-background {
  background-color: rgb(200, 49, 49);
}

.btn-green-background {
  background-color: rgb(76, 183, 76);
}

.card-1-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 10px;
  text-align: center;
  border: none;
  background-color: rgb(76, 183, 76);
  font-weight: bold;
  font-size: 14px;
  color: white;
  cursor: pointer;
}